/* -------------------------------------------------------------------------------------------------
  # Menu(s)
------------------------------------------------------------------------------------------------- */
.cm-panel {
    > ul {
        margin: 0 auto;
        padding: 0;
        position: $cm_menu-position;
        top: $cm_menu-top;
        width: $cm_menu-width;

        li {
            position: relative;

            > [class*="icon-"] {
                position: absolute;
                top: 0;
                right: 0;
            }

            > ul {
                margin: 0;
                padding: 0;
                display: none;

                a {
                    position: relative;
                    font-size: 1rem;
                    padding: 0.5em 2em;
                }
            }
        }

        a {
            position: relative;
            display: block;
            padding: 0.25em 0;
            overflow: hidden;
            text-decoration: none;
        }
    }
}
