/* -------------------------------------------------------------------------------------------------
  # Menu
------------------------------------------------------------------------------------------------- */
.cm-menu {
  margin: 0;
  padding: 0;
  position: $cm-menu-position;
  top: $cm-menu-top;
  width: $cm-menu-width;
  list-style-type: none;

  @if ($flexbox) {
    display: flex;
    flex-flow: column nowrap;

    li {
      flex: 1 auto;
    }
  }

  a {
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: $cm-white;
    font-size: $cm-menu-font-size;

    &:hover {
      color: rgba($cm-white, 0.5);
      transition: all 0.35s ease-in-out;
    }
  }
}

/* -----------------------------------------------------------------------------
  ## Sub Menu
----------------------------------------------------------------------------- */
@if ($submenus) {
  .cm-has-submenu {
    position: relative;

    @if ($flexbox) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      > a {
        flex: 1 0 75%;
        order: 1;
      }
    }

    > ul {
      margin: 0;
      padding: 0;
      display: none;

      @if ($flexbox) {
        order: 3;
      }

      a {
        position: relative;
        font-size: 1rem;
        padding: 0.5em 2em;
      }
    }
  }
}
