/* -------------------------------------------------------------------------------------------------
  # Menu(s)
------------------------------------------------------------------------------------------------- */
.cm-panel {
    > ul {
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: 90%;

        li {
            position: relative;

            > ul {
                margin: 0;
                padding: 0;
                display: none;

                a {
                    position: relative;
                    font-size: 1rem;
                    padding: 0.5em 2em;
                }
            }
        }

        a {
            position: relative;
            display: block;
            padding: 0.25em 0;
            overflow: hidden;
            text-decoration: none;
        }
    }
}
