menu,
nav,
section {
    display: block;
}

[hidden] {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    &:active,
    &:hover {
        outline-width: 0;
    }
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button {
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;

    &::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    &:-moz-focusring {
        outline: 1px dotted ButtonText;
    }
}

button,
html [type="button"] {
    -webkit-appearance: button;
}
