// Create the overlay
.cm-overlay {
  padding: 20px 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background: $color-base;
  opacity: 1;
  visibility: hidden;
  transition: all .30s ease-in-out;
  overflow: scroll;

  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  @if $overlay-full-width {
    width: 100%;
  } else {
    width: auto;
  }

  @if $overlay-full-height {
    height: 100%;
  } else {
    height: auto;
  }
}

.cm-reveal-top {
  transform: translateY(-100%);
}

.cm-reveal-bottom {
  transform: translateY(100%);
}

.cm-reveal-left {
  transform: translateX(-100%);
}

.cm-reveal-right {
  transform: translateX(100%);
}

.cm-reveal-fade {
  opacity: 0;
}

.cm-is-visible {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}