/* -------------------------------------------------------------------------------------------------
  # Overlay
------------------------------------------------------------------------------------------------- */
.cm-overlay {
  width: $cm-overlay-width;
  height: $cm-overlay-height;

  position: $cm-overlay-position;
  top: $cm-overlay-top;
  left: $cm-overlay-left;
  z-index: 10;

  background: $cm-overlay-background;
  opacity: 1;
  visibility: hidden;
  transition: all $cm-overlay-speed $cm-overlay-transition;
  overflow: scroll;

  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  @if ($flexbox) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

.cm-reveal-top {
  transform: translateY(-100%);
}

.cm-reveal-bottom {
  transform: translateY(100%);
}

.cm-reveal-left {
  transform: translateX(-100%);
}

.cm-reveal-right {
  transform: translateX(100%);
}

.cm-reveal-fade {
  opacity: 0;
}

.cm-is-visible {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}