/* -------------------------------------------------------------------------------------------------
  # Panel
------------------------------------------------------------------------------------------------- */
.cm-panel {
    position: $cm-panel_position;
    top: $cm-panel_top;
    left: $cm-panel_left;
    z-index: 99;

    width: $cm-panel_width;
    height: $cm-panel_height;
    padding: $cm-hamburger_width;

    background: $cm-color_overlay;
    opacity: 1;
    visibility: hidden;
    transition: all $cm-panel_speed $cm-panel_transition;

    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.cm-reveal-top {
    transform: translateY(-100%);
}

.cm-reveal-bottom {
    transform: translateY(100%);
}

.cm-reveal-left {
    transform: translateX(-100%);
}

.cm-reveal-right {
    transform: translateX(100%);
}

.cm-reveal-fade {
    opacity: 0;
}

.cm-is-visible {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
