/* -------------------------------------------------------------------------------------------------
  # Panel
------------------------------------------------------------------------------------------------- */
.cm-panel {
    position: $cm_panel-position;
    top: $cm_panel-top;
    left: $cm_panel-left;
    z-index: 99;

    width: $cm_panel-width;
    height: $cm_panel-height;

    background: $cm_color-overlay;
    opacity: 1;
    visibility: hidden;
    transition: all $cm_panel-speed $cm_panel-transition;

    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.cm-reveal-top {
    transform: translateY(-100%);
}

.cm-reveal-bottom {
    transform: translateY(100%);
}

.cm-reveal-left {
    transform: translateX(-100%);
}

.cm-reveal-right {
    transform: translateX(100%);
}

.cm-reveal-fade {
    opacity: 0;
}

.cm-is-visible {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
