// General Settings
// -----------------------------------------------------------------------------
$flexbox: true !default;
$submenus: true !default;

// Colors
// -----------------------------------------------------------------------------
$cm-white: rgb(255, 255, 255);
$cm-black: rgb(0, 0, 0);
$cm-overlay-background: rgba(0, 0, 0, 0.9);
$cm-trigger-color: rgb(255, 255, 255);
$color-base: rgba(#000, .9);
$color-open: rgba(#f5f5f5, .7);
$color-close: rgba(#DA4949, 1);
$color-hover: rgba(#7FDA89, 1);

// Overlay Settings
// -----------------------------------------------------------------------------
$cm-overlay-width: 100% !default;
$cm-overlay-height: 100% !default;
$cm-overlay-speed: 0.3s !default;
$cm-overlay-transition: ease-in-out !default;
$cm-overlay-position: fixed !default;
$cm-overlay-top: 0 !default;
$cm-overlay-left: 0 !default;

// Menu Settings
// -----------------------------------------------------------------------------
$cm-menu-width: 90% !default;
$cm-menu-font-size: 1.75rem !default;
$cm-menu-position: relative !default;
$cm-menu-top: 20% !default;

// Hamburger Settings
// -----------------------------------------------------------------------------
$hamburger-padding-x: 15px !default;
$hamburger-padding-y: 15px !default;
$hamburger-layer-width: 40px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: #000 !default;
$hamburger-layer-color-active: #DA4949 !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;

// Original Button Settings
// -----------------------------------------------------------------------------
$mobile-btn-width: 35px;
$mobile-btn-height: 30px;
