body {
  background: rgba(239, 239, 239, .7);
}

main {
  display: flex;
  align-items: center;
  height: 100vh;

  div {
    width: 60%;
    margin-left: 5%;
    font-family: Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.3;
    transform: translateY(-75%);
  }
}