// General Settings
// -----------------------------------------------------------------------------
$cm-submenus: false !default;
$cm-breakpoint: '768px' !default;

// Colors
// -----------------------------------------------------------------------------
$cm-color_white: rgb(255, 255, 255) !default;
$cm-color_black: rgb(0, 0, 0) !default;
$cm-color_overlay: $cm-color_black !default;
$cm-color_trigger: $cm-color_white !default;

// Overlay Settings
// -----------------------------------------------------------------------------
$cm-overlay_width: 100% !default;
$cm-overlay_height: 100% !default;
$cm-overlay_position: fixed !default;
$cm-overlay_top: 0 !default;
$cm-overlay_left: 0 !default;
$cm-overlay_speed: 0.25s !default;
$cm-overlay_transition: ease !default;

// Menu Settings
// -----------------------------------------------------------------------------
$cm-menu_width: 90% !default;
$cm-menu_position: relative !default;
$cm-menu_top: 20% !default;

// Hamburger Settings - Modified from https://github.com/jonsuh/hamburgers
// -----------------------------------------------------------------------------
$cm-hamburger_width: 40px !default;
$cm-hamburger_height: 4px !default;
$cm-hamburger_spacing: 6px !default;
$cm-hamburger_color-active: rgb(218, 73, 73) !default;

@import "normalize-custom";
@import "fonts";
@import "button";
@import "panel";
@import "menu";
