// General Settings
// -----------------------------------------------------------------------------
$cm_submenus: true !default;
$cm_breakpoint: 768px !default;

// Colors
// -----------------------------------------------------------------------------
$cm_color-white: rgb(255, 255, 255) !default;
$cm_color-black: rgb(0, 0, 0) !default;
$cm_color-overlay: rgb(239, 239, 239) !default;

// Overlay Settings
// -----------------------------------------------------------------------------
$cm_panel-width: 100% !default;
$cm_panel-height: 100% !default;
$cm_panel-position: absolute !default;
$cm_panel-top: 0 !default;
$cm_panel-left: 0 !default;
$cm_panel-speed: 0.25s !default;
$cm_panel-transition: ease !default;

// Menu Settings
// -----------------------------------------------------------------------------
$cm_menu-width: 90% !default;
$cm_menu-position: relative !default;
$cm_menu-top: 20% !default;
$cm_trigger-size: 15px !default;

@import "normalize-custom";
@import "fonts";
@import "button";
@import "panel";
@import "menu";

// TODO: review these and get rid of anything that is not needed
