// Basic config
$mobile-btn-width: 35px;
$mobile-btn-height: 30px;

$color-base: rgba(#000, .9);
$color-open: rgba(#f5f5f5, .7);
$color-close: rgba(#DA4949, 1);
$color-hover: rgba(#7FDA89, 1);

$white: #fff;
$black: #000;

@import
  'button',
  'overlay',
  'menu',
  'skin'
;