// TODO: there are areas that can be revised to use flexbox. Find them and make the changes

// Basic config
$mobile-btn-width: 35px;
$mobile-btn-height: 30px;

$color-active: rgba(#fff, .7);
$color-main: rgba(#000, .7);

// Create the mobile button
.mobile-btn {
  position: fixed;
  top: 5%;
  right: 5%;

  width: $mobile-btn-width;
  height: $mobile-btn-height;

  cursor: pointer;
  z-index: 100;
  transition: opacity.25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }

    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: $color-main;
    border: none;
    height: 5px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    transition: all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

// Create the overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 0%;

  background: $color-main;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;

    li {
      // Style animations for the list items
    }
  }
}

// Style the mobile menu
.mobile-menu {
  position: relative;
  top: 50%;

  height: 70%;
  transform: translateY(-50%);

  text-align: center;

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 1;

      a {
        display: block;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: white;
      }
    }
  }
}