// TODO: there are areas that can be revised to use flexbox. Find them and make the changes

// Basic config
$mobile-btn-width: 35px;
$mobile-btn-height: 30px;

$color-base: rgba(#000, .9);
$color-open: rgba(#f5f5f5, .7);
$color-close: rgba(#DA4949, 1);
$color-hover: rgba(#7FDA89, 1);

// Create the mobile button
.mobile-btn {
  position: fixed;
  top: 5%;
  right: 5%;

  width: $mobile-btn-width;
  height: $mobile-btn-height;

  cursor: pointer;
  z-index: 100;
  transition: opacity.25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-close;
    }

    .middle {
      opacity: 0;
      background: $color-close;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-close;
    }
  }

  span {
    background: $color-base;
    border: none;
    height: 5px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    transition: all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

// Create the overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 0vh;

  background: $color-base;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100vh;

    li {
      // Style animations for the list items
    }
  }
}

// Style the mobile menu
.mobile-menu {
  text-align: center;
  max-width: 80%;
  // position: relative;
  // top: 50%;

  // height: 70%;
  // transform: translateY(-50%);


  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    // display: inline-block;
    // position: relative;

    * + * {
      margin: .5em 0 0;
    }

    li {
      opacity: 1;
      flex: 1 auto;
      // display: block;
      // height: 25%;
      // height: calc(100% / 4);
      // min-height: 50px;
      // position: relative;

      a {
        display: block;
        overflow: hidden;
        text-decoration: none;
        color: white;
        padding: 1em 3em;
        font-size: 1.75em;
        // position: relative;

        &:hover {
          color: $color-hover;
          transition: all .35s ease;
        }
      }
    }
  }
}