/* -------------------------------------------------------------------------------------------------
  # Custom Normalize
------------------------------------------------------------------------------------------------- */
menu,
nav,
section {
  display: block;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"] {
  -webkit-appearance: button;
}

/* -------------------------------------------------------------------------------------------------
  # Panel
------------------------------------------------------------------------------------------------- */
.cm-panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #efefef;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.cm-panel-top {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.cm-panel-bottom {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.cm-panel-left {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.cm-panel-right {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.cm-panel-fade {
  opacity: 0;
}

.cm-panel-open {
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* -------------------------------------------------------------------------------------------------
  # Buttons
------------------------------------------------------------------------------------------------- */
.cm-hamburger {
  position: relative;
  z-index: 100;
  border: none;
  width: 60px;
  height: 45px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  background: white;
}

.cm-hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.cm-hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.cm-hamburger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.cm-hamburger span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}

.cm-hamburger-open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.cm-hamburger-open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.cm-hamburger-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

/* -------------------------------------------------------------------------------------------------
  # Menu(s)
------------------------------------------------------------------------------------------------- */
.cm-panel > ul {
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 20%;
  width: 90%;
}

.cm-panel > ul li {
  position: relative;
}

.cm-panel > ul li > [class*="icon-"] {
  position: absolute;
  top: 0;
  right: 0;
}

.cm-panel > ul li > ul {
  margin: 0;
  padding: 0;
  display: none;
}

.cm-panel > ul li > ul a {
  position: relative;
  font-size: 1rem;
  padding: 0.5em 2em;
}

.cm-panel > ul a {
  position: relative;
  display: block;
  padding: 0.25em 0;
  overflow: hidden;
  text-decoration: none;
}

/* -------------------------------------------------------------------------------------------------
  # Icons
------------------------------------------------------------------------------------------------- */
.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: black;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
}

.icon::before, .icon::after {
  content: "";
  pointer-events: none;
}

.icon-caret {
  width: 20%;
  height: 20px;
  margin: 3px 10px;
}

.icon-caret::before, .icon-caret::after {
  width: 7px;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 2px;
  box-shadow: inset 0 0 0 32px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.icon-caret::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icon-caret::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*# sourceMappingURL=clear-menu.css.map */
