.menu-btn {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 35px;
  height: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.menu-btn:hover {
  opacity: .9;
}

.menu-btn.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #da4949;
}

.menu-btn.active .middle {
  opacity: 0;
  background: #da4949;
}

.menu-btn.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #da4949;
}

.menu-btn span {
  background: rgba(0, 0, 0, 0.9);
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.menu-btn span:nth-of-type(2) {
  top: 11px;
}

.menu-btn span:nth-of-type(3) {
  top: 22px;
}

.cm-overlay {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  opacity: 1;
  visibility: hidden;
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
  overflow: scroll;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.cm-overlay else {
  width: auto;
}

.cm-overlay else {
  height: auto;
}

.cm-reveal-top {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.cm-reveal-bottom {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.cm-reveal-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.cm-reveal-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.cm-reveal-fade {
  opacity: 0;
}

.cm-is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.cm-nav {
  width: 90%;
  height: 50%;
}

.cm-nav > ul {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  list-style: none;
}

.cm-nav > ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.cm-nav > ul a {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 1.75em;
}

.cm-nav > ul a:hover {
  color: #7fda89;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.cm-nav > ul > ul {
  display: none;
}

.cm-nav > ul > ul a {
  position: relative;
  font-size: 1em;
  padding: 0.5em 3em;
}

.cm-has-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.cm-has-submenu > a {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
          flex: 1 0 75%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.cm-has-submenu > ul {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
}

.cm-has-submenu > button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.cm-has-submenu-open > a::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cm-sub-trigger {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.cm-sub-trigger:hover {
  cursor: pointer;
}

body {
  background: rgba(239, 239, 239, 0.7);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

main div {
  width: 60%;
  margin-left: 5%;
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

/*--------------------------------------------------------------------------------------------------
  Hamburger Icon
--------------------------------------------------------------------------------------------------*/
.cm-hamburger {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 100;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.cm-hamburger:hover {
  opacity: 0.7;
}

.cm-hamburger-bun {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.cm-hamburger-meat {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.cm-hamburger-meat, .cm-hamburger-meat::before, .cm-hamburger-meat::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.cm-hamburger-meat::before, .cm-hamburger-meat::after {
  content: "";
  display: block;
}

.cm-hamburger-meat::before {
  top: -10px;
}

.cm-hamburger-meat::after {
  bottom: -10px;
}

.cm-hamburger-slider .cm-hamburger-meat {
  top: 2px;
}

.cm-hamburger-slider .cm-hamburger-meat::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.cm-hamburger-slider .cm-hamburger-meat::after {
  top: 20px;
}

.cm-hamburger-slider.cm-is-active .cm-hamburger-meat {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
  background-color: #DA4949;
}

.cm-hamburger-slider.cm-is-active .cm-hamburger-meat::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
  background-color: #DA4949;
}

.cm-hamburger-slider.cm-is-active .cm-hamburger-meat::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
          transform: translate3d(0, -20px, 0) rotate(-90deg);
  background-color: #DA4949;
}

/*# sourceMappingURL=main.css.map */
