/* -------------------------------------------------------------------------------------------------
  # Panel
------------------------------------------------------------------------------------------------- */
.cm-panel {
    position: $cm_panel-position;
    top: $cm_panel-top;
    left: 0;
    z-index: 99;

    width: $cm_panel-width;
    max-width: 100%;
    height: $cm_panel-height;
    max-height: 100%;

    background: $cm_color-panel;
    opacity: 1;
    visibility: hidden;
    transition: all $cm_panel-speed $cm_panel-transition;

    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    // Reveal from the top
    &-top {
        transform: translateY(-100%);
    }

    // Reveal from the bottom
    &-bottom {
        transform: translateY(100%);
        top: unset;
        bottom: 0;
    }

    // Reveal from the left
    &-left {
        transform: translateX(-100%);
    }

    // Reveal from the right
    &-right {
        transform: translateX(100%);
        left: unset;
        right: 0;
    }

    // Fade in reveal
    &-fade {
        opacity: 0;
    }

    // For when the panel is visible
    &-open {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
}
