/* -------------------------------------------------------------------------------------------------
  # Button
------------------------------------------------------------------------------------------------- */
// The button
.cm-button {
  position: relative;
  display: inline-block;
  padding: 0.625em 1.25em;
}

// Button text
.cm-button_text {
  display: inline-block;
}

// Hamburger icon
.cm-button_icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  width: 18px;
  height: 2px;
  background-color: $cm_color-black;
  transition: background-color 0.3s ease-in-out;
  transform: translateX(-50%) translateY(-50%);

  &::before,
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $cm_color-black;
    right: 0;
    transition: transform .3s, top .3s, background-color 0s;
  }

  &::before {
    top: -5px;
  }

  &::after {
    top: 5px;
  }

  // When the button is clicked
  .cm-button.cm-active & {
    background-color: rgba($cm_color-black, 0);

    &::before,
    &::after {
      background-color: $cm_color-black;
    }

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(225deg);
    }
  }
}
