// Colors
// -----------------------------------------------------------------------------
$cm_color-white: rgb(255, 255, 255) !default;
$cm_color-black: rgb(0, 0, 0) !default;
$cm_color-panel: rgb(239, 239, 239) !default;

// Panel Settings
// -----------------------------------------------------------------------------
$cm_panel-width: 100% !default;
$cm_panel-height: 100% !default;
$cm_panel-position: absolute !default;
$cm_panel-top: 0 !default;
$cm_panel-speed: 0.25s !default;
$cm_panel-transition: ease-in-out !default;

@import "reset";
@import "panel";
@import "menu";
@import "icons";
@import "trigger";
